<table class="table text-capitalize">
  <thead class="thead-light">
    <tr>
      <th scope="col">Atomic Number</th>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Atomic Mass (u)</th>
      <th scope="col">Group</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of elements; let i = index">
      <th scope="row">{{element.atomicNumber}}</th>
      <td>{{element.symbol}}</td>
      <td>{{element.name}}</td>
      <td>{{element.atomicMass}}</td>
      <td>{{element.groupBlock}}</td>
      <td><button type="button" class="btn btn-primary" (click)="openModal(template, element)">Details</button></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{element.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-capitalize">
    <div class="row text-center">
      <div class="col-md">
        <h5>Element Name</h5>
        <p>{{element.name}}</p>
      </div>
      <div class="col-md">
        <h5>Symbol</h5>
        <p>{{element.symbol}}</p>
      </div>
      <div class="col-md">
        <h5>Atomic Number</h5>
        <p>{{element.atomicNumber}}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h5>Atomic Mass (u)</h5>
        <p>{{element.atomicMass}}</p>
      </div>
      <div class="col-md">
        <h5>Atomic Radius</h5>
        <p>{{element.atomicRadius}}</p>
      </div>
      <div class="col-md">
        <h5>Boiling Point (K)</h5>
        <p>{{element.boilingPoint}}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h5>Bonding Type</h5>
        <p>{{element.bondingType}}</p>
      </div>
      <div class="col-md">
        <h5>Density g/L</h5>
        <p>{{element.density}}</p>
      </div>
      <div class="col-md">
        <h5>Electron Affinity (kJ/mol)</h5>
        <p>{{element.electronAffinity}}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h5>Electronegativity</h5>
        <p>{{element.electronegativity}}</p>
      </div>
      <div class="col-md">
        <h5>Electronic Configuration</h5>
        <p>{{element.electronicConfiguration}}</p>
      </div>
      <div class="col-md">
        <h5>Group</h5>
        <p>{{element.groupBlock}}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h5>Ion Radius</h5>
        <p>{{ element.ionRadius ? element.ionRadius : '-'  }}</p>
      </div>
      <div class="col-md">
        <h5>Ionization Energy</h5>
        <p>{{element.ionizationEnergy}}</p>
      </div>
      <div class="col-md">
        <h5>Melting Point</h5>
        <p>{{element.meltingPoint}}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <h5>Oxidation States</h5>
        <p>{{element.oxidationStates}}</p>
      </div>
      <div class="col-md">
        <h5>Standard State</h5>
        <p>{{element.standardState}}</p>
      </div>
      <div class="col-md">
        <h5>Year Discovered</h5>
        <p>{{element.yearDiscovered}}</p>
      </div>
    </div>
  </div>
</ng-template>