<footer class="footer fixed-bottom bg-dark">
    <div class="container">
      <div class="row">
        <span class="text-muted align-baseline">Lucas Ventura | 2020</span>
        <a class="navbar-brand" href="https://github.com/lucasventura99">
          <img src="../assets/footer/Octocat.png" height="50"  class="align-baseline" alt="" loading="lazy">
        </a>
        <a class="navbar-brand" href="https://www.linkedin.com/in/lucas-ventura-delfiol/">
          <img src="../assets/footer/linkedin.png" height="50"  class="align-baseline" alt="" loading="lazy">
        </a>  
      </div>
    </div>
</footer>